html {
    margin: 0;
}

.main-container {
    display: flex;
    /* flex-direction: row-reverse; */
}

p {
    color: black;
    font-weight: 400;
}

.map{
    margin-top: 2.5%;
    width: 40%;
    position: fixed;
    left: 60%;
    border-left: 3px solid darkgray;
}

.content-container{
    margin-top: 3.5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    /* align-items: flex-start; */
    width: 60%;
}

.spots-container {
    border-bottom: rgba(20,20,20,0.1) 2px solid;
    display: flex;
    height: 330px;
    width: 98%;
}

.image-container {
    width: 40%;
    /* height: 300px; */
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    line-height: 1px;
    /* border: solid 2px blue; */
    height: 100%;
    width: 60%;
    overflow: hidden;
    padding-left: 25px;
}

.line-div {
    border: 1px solid rgba(20,20,20,0.1);
    width: 17%;
    margin-top: 15px;
    margin-left: 3px;
}

.guest-bed-bath-container {
    display: flex;
    gap:10px;
    padding-top: 20px;
}

.amenities-container-all {
    margin-bottom: 50px;
}

#amenities-all {
    margin-bottom: 30px;
}

.cost-per-night-all-spots {
    display: flex;
    justify-content: flex-end;
}

.outer-div-csp-all-spots {
    display: flex;
    align-items: flex-end;
    padding-top: 260px;
    padding-left: 280px;
}

.left-info-all {
    display: flex;
    flex-direction: column;
}

.right-info-all {
    display: flex;
    justify-content: flex-end;
}

#spot-image {
   width: 100%;
   height: 92%;
   border-radius: 15px;
}

#map-image {
   width: 100%;
   height: 100%;
}

#guests {
    font-size: 15px;
    font-weight: 400;
    padding-left: 7px;
    padding-top: 2px;
}

#baths {
    font-size: 15px;
    font-weight: 400;
    padding-left: 7px;
    padding-top: 2px;
}

#beds {
    font-size: 15px;
    font-weight: 400;
    padding-left: 7px;
    padding-top: 2px;
}

#all-spots-title {
    font-weight: 500;
}

.style-b-b-g {
    display: flex;
    /* gap: 1px; */
}

.bullet-point-all-spots {
    padding-top:16px;
    padding-left: 7px;
}

.bullet-point-all-spots-beds {
    padding-top:16px;
    padding-left: 7px;
}
