.navbar {
    position:-webkit-sticky;
    position:sticky;
    display: flex;
    justify-content: space-between;
    border-bottom: gray 2px solid;
    margin-bottom: 15px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#root {
    background-color: white;
}

html {
    background-color: white;
}

.left-nav {
    margin-left: 40px;
}

.right-nav {
    margin-right: 40px;
}

#signup {
    padding-left: 15px;
}
